<h1 class="separator">Quizz™</h1>

<hr>
<div class="menu-container">
        <span class="menu-first">
                <a href="/search">search</a>
        </span>
        <span>
                <a href="/chatroom">chatroom</a>
        </span>
        <span>
                <a href="/user">homepage</a>
        </span>
        <span>
                <a href="/play/browse">play</a>
        </span>
        <span>
                <a href="/live">live</a>
        </span>
</div>
<hr>
