<link rel="stylesheet" href="/css/playstyles.css">

<%- include ("./partials/menu") %>

<div class="container1 cont11">
    Select from our existing quizzes:
<div class="browse-container">
    <div class="browse-main">
        <a href="/play/astronomy"><div class="category">
            <div class="img ast"></div>
            <span class="imgtitle">Astronomy</span>
        </div></a>
        <a href="/play/artnlits"><div class="category">
            <div class="img art"></div>
            <span class="imgtitle">Art/Literature</span>
        </div></a>
        <a href="/play/chemistry"><div class="category">
            <div class="img chem"></div>
            <span class="imgtitle">Chemistry</span>
        </div></a>
        <a href="/play/filmntv"><div class="category">
            <div class="img tv"></div>
            <span class="imgtitle">TV/Films</span>
        </div></a>
        <a href="/play/geography"><div class="category">
            <div class="img geo"></div>
            <span class="imgtitle">Geography</span>
        </div></a>
        <a href="/play/gk"><div class="category">
            <div class="img gk"></div>
            <span class="imgtitle">GK</span>
        </div></a>
        <a href="/play/history"><div class="category">
            <div class="img hist"></div>
            <span class="imgtitle">History</span>
        </div></a>
        <a href="/play/sports"><div class="category">
            <div class="img spo"></div>
            <span class="imgtitle">Sports</span>
        </div></a>
    </div>
</div>
    Or explore some of the user created quizzes <a href="/search">here</a>
</div>
