<link rel="stylesheet" href="/css/styles.css">

<%- include ("./partials/menu") %>


<div class="buttons"><br><br>
<a href="/createnew"><button>Create New</a></button><br>
<a href="/user/<%=user.username%>/quizzes"><button>My quizzes</a></button><br>
<a href="/user/<%=user.username%>/myaccount"><button>Account</a></button><br>
<a href="/logout"><button>Logout</a></button>
</div>

